APP_NAME="API Bank"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://apibank.com.vn

LOG_CHANNEL=stack
LOG_LEVEL=warning

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=apibank
DB_USERNAME=apibank
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MAIL_MAILER=smtp
MAIL_HOST=
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=no-reply@apibank.com.vn
MAIL_FROM_NAME="${APP_NAME}"

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=https://apibank.com.vn/auth/social/google/callback

QUANLY_ACCOUNT_LINK_SECRET=
QUANLY_ACCOUNT_LINK_ISSUER=quanly.3w.com.vn
QUANLY_ACCOUNT_LINK_AUDIENCE=apibank.com.vn

VCB_CAPTCHA_API_URL=https://captcha.apibank.com.vn/api/vcb
VCB_CAPTCHA_API_KEY=
VCB_CAPTCHA_THEME=MASS
MBBANK_CAPTCHA_API_URL=https://captcha.apibank.com.vn/api/mbb
MBBANK_CAPTCHA_API_KEY=
MBBANK_ENCRYPT_URL=http://127.0.0.1:3197/encrypt
MBBANK_AUTHORIZATION=

VCB_DEFAULT_PUBLIC_KEY=
VCB_CLIENT_PUBLIC_KEY=
VCB_CLIENT_PRIVATE_KEY=

API_PACKAGE_MONTHLY_PRICE=20000
BANK_API_ACCOUNT_LIMIT=3
