/.phpunit.cache
/node_modules

/public/build
/public/hot
/public/storage
/public/.well-known
/public/v1.0/.well-known
/storage/*.key
/vendor

.env
.env.*
!.env.example
!public/v1.0/.env.example
.env.backup
.env.production
.phpunit.result.cache

docker-compose.override.yml

Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode

!/public/assets
!/public/assets/*
/public/css
/public/js
